/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.btn, .glass-overlay .music-genre .glass__title {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.container-fluid, .container {
  --grid-gutter-x: 30px;
  --grid-gutter-y: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Plus Jakarta Sans, sans-serif;
}

a {
  text-decoration: none;
}

button,
section,
textarea,
input {
  font-size: inherit;
  font-family: inherit;
}

button,
input {
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}

@media (max-width: 992px) {
  .container {
    padding: 0;
  }
}

.btn {
  padding: 17px 19px;
  width: 157px;
  height: 64px;
  border-radius: 8px;
  background: #936cdd;
}

.heading-wrap {
  position: relative;
}
.heading-wrap .section-heading {
  position: relative;
  z-index: 1;
  color: #201830;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.23;
}
@media (max-width: 992px) {
  .heading-wrap .section-heading {
    font-size: 2.6rem;
    line-height: 1.38;
  }
}
.heading-wrap .heading-decor {
  position: absolute;
}

.section-desc {
  margin-top: 18px;
  color: #665f73;
  font-size: 1.6rem;
  line-height: 1.75;
}
@media (max-width: 992px) {
  .section-desc {
    margin-top: 12px;
    font-size: 1.4rem;
  }
}

.header {
  padding: 32px 0 100px;
  background: #fff8f3;
}
@media (max-width: 992px) {
  .header {
    padding: 20px 18px 32px;
  }
}

.header-top {
  display: flex;
  align-items: center;
}
@media (max-width: 992px) {
  .header-top {
    display: none;
  }
}
.header-top {
  padding: 10px 0;
}
.header-top .navbar {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header-top .navbar li:nth-of-type(3) {
  position: relative;
}
.header-top .navbar li:nth-of-type(3) svg {
  position: absolute;
  top: 16px;
  right: -10px;
}
.header-top .navbar__link {
  display: block;
  margin-left: 48px;
  padding: 4px;
  color: #665f73;
  font-size: 1.6rem;
  line-height: 1.75;
}
.header-top .group-cta {
  display: flex;
  align-items: center;
  margin-left: 192px;
}
.header-top .group-cta .login {
  margin-right: 28px;
  color: #201830;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
  text-wrap: no-wrap;
}
.header-top .group-cta .sign-in-btn {
  width: 116px;
  height: 48px;
  color: #fff;
  border-radius: 6px;
  font-size: 1.6rem;
  background: #201830;
  line-height: 1.75;
}
.header-top .group-cta .sign-in-btn:hover {
  opacity: 0.8;
}

.header-mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 992px) {
  .header-mobile {
    display: none;
  }
}
.header-mobile .overlay-menu {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease;
}
.header-mobile .draw-menu {
  position: fixed;
  inset: 0 40% 0 0;
  padding: 20px;
  background: #fff;
  z-index: 2;
  transform: translateX(-100%);
  transition: 0.5s ease;
}
.header-mobile .draw-menu .navbar__link {
  display: block;
  margin-top: 30px;
  color: #665f73;
  font-size: 1.6rem;
  line-height: 1.75;
}
.header-mobile .menu-checkbox:checked ~ .overlay-menu {
  opacity: 1;
  visibility: visible;
}
.header-mobile .menu-checkbox:checked ~ .draw-menu {
  opacity: 1;
  transform: translateX(0);
}

.hero {
  margin-top: 100px;
}
@media (max-width: 992px) {
  .hero {
    margin-top: 42px;
  }
}
.hero .hero__inner {
  display: flex;
}
@media (min-width: 1200px) {
  .hero .hero__inner {
    column-gap: 130px;
  }
}
@media (max-width: 1200px) {
  .hero .hero__inner {
    justify-content: space-between;
  }
}
@media (max-width: 992px) {
  .hero .hero__inner {
    flex-direction: column;
  }
}
.hero .hero__media {
  display: flex;
  justify-content: space-around;
}
@media (min-width: 992px) {
  .hero .hero__media {
    gap: 30px;
  }
}
@media (max-width: 576px) {
  .hero .hero__media {
    justify-content: space-between;
  }
}
.hero .hero__img-wrap {
  position: relative;
  width: 270px;
  height: 302px;
}
@media (max-width: 576px) {
  .hero .hero__img-wrap {
    width: 160px;
    height: 179px;
    border-radius: 5px;
  }
}
.hero .hero-img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}
.hero .hero__audio {
  display: flex;
  align-items: center;
  position: absolute;
  padding: 17px 21px;
  left: 50%;
  bottom: -30px;
  transform: translateX(-50%);
  max-width: 194px;
  height: 60px;
  border-radius: 9px;
  background: #fff;
  box-shadow: 0 12px 44px 0 rgba(32, 24, 48, 0.07);
}
@media (max-width: 576px) {
  .hero .hero__audio {
    padding: 10px 12px;
    bottom: -18px;
    width: 115px;
    height: 35px;
    border-radius: 5px;
  }
  .hero .hero__audio .melody-audio {
    width: 67px;
    height: 15px;
  }
}
.hero .hero__audio .play-audio {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 1px solid #936cdd;
}
@media (max-width: 576px) {
  .hero .hero__audio .play-audio {
    width: 15px;
    height: 15px;
    border-width: 0.5px;
  }
  .hero .hero__audio .play-audio .play-icon {
    width: 5px;
    height: 5px;
  }
}

.avt-group {
  margin-top: 53px;
}
@media (max-width: 576px) {
  .avt-group {
    margin-top: 31px;
  }
}
.avt-group .avt__label {
  color: #201830;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.71;
}
@media (max-width: 576px) {
  .avt-group .avt__label {
    font-size: 0.8rem;
  }
}
.avt-group .avt-list {
  display: flex;
  align-items: center;
}
.avt-group .avt-list .avt {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
}
@media (max-width: 576px) {
  .avt-group .avt-list .avt {
    margin-top: 5px;
    width: 28px;
    height: 28px;
    border-width: 1px;
  }
}
.avt-group .avt-list .avt + .avt {
  margin-left: -18px;
}
@media (max-width: 576px) {
  .avt-group .avt-list .avt + .avt {
    margin-left: -10px;
  }
}
.avt-group .avt-list .avt:last-child {
  background: #201830;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.83;
}
@media (max-width: 576px) {
  .avt-group .avt-list .avt:last-child {
    font-size: 0.7rem;
  }
}

.hero-podcast {
  position: relative;
  margin: 8px 0 28px;
}
@media (max-width: 576px) {
  .hero-podcast {
    margin: 5px 0 17px;
  }
}

.podcast-qty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 43.75%;
  width: 82px;
  height: 82px;
  border-radius: 50%;
  background: #ff9051;
}
@media (max-width: 576px) {
  .podcast-qty {
    width: 49px;
    height: 49px;
  }
}
.podcast-qty .podcast-total {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 800;
}
@media (max-width: 576px) {
  .podcast-qty .podcast-total {
    font-size: 0.8rem;
  }
}
.podcast-qty .podcast-label {
  margin-top: 4px;
  color: #ffefe7;
  font-size: 1rem;
  font-weight: 500;
}
@media (max-width: 576px) {
  .podcast-qty .podcast-label {
    margin-top: 2px;
    font-size: 0.6rem;
  }
}

.podcast-list {
  margin-top: 12px;
}
@media (max-width: 576px) {
  .podcast-list {
    margin-top: 7px;
  }
}
.podcast-list .podcast-app {
  margin-right: 18px;
}
@media (max-width: 576px) {
  .podcast-list .podcast-app {
    margin-right: 11px;
    width: 17px;
    height: 17px;
  }
}

.hero__media--column {
  position: relative;
}
.hero__media--column .podcast-decor {
  position: absolute;
}
@media (max-width: 576px) {
  .hero__media--column .podcast-decor {
    width: 27px;
    height: 22px;
  }
}
.hero__media--column .podcast-decor:first-of-type {
  top: 36px;
  left: 20%;
}
@media (max-width: 576px) {
  .hero__media--column .podcast-decor:first-of-type {
    top: 22px;
  }
}
.hero__media--column .podcast-decor:last-of-type {
  right: 23.4%;
  top: 94px;
}
@media (max-width: 576px) {
  .hero__media--column .podcast-decor:last-of-type {
    top: 55px;
  }
}

.podcast-overlay {
  position: absolute;
  padding: 14px 0;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  width: 71.86%;
  border-radius: 9px;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 12px 44px 0 rgba(0, 0, 0, 0.07);
  backdrop-filter: blur(5px);
  text-align: center;
}
@media (max-width: 576px) {
  .podcast-overlay {
    padding: 8px 0;
    bottom: 9px;
    border-radius: 5px;
    box-shadow: 0 7px 26px 0 rgba(0, 0, 0, 0.07);
    backdrop-filter: blur(3px);
  }
}
.podcast-overlay .podcast__title {
  color: #201830;
  font-size: 1.4rem;
  font-weight: 600;
}
@media (max-width: 576px) {
  .podcast-overlay .podcast__title {
    font-size: 0.8rem;
  }
}
.podcast-overlay .podcast__subtitle {
  margin-top: 6px;
  color: #665f73;
  font-size: 1.2rem;
}
@media (max-width: 576px) {
  .podcast-overlay .podcast__subtitle {
    margin-top: 3px;
    font-size: 0.7rem;
  }
}

.hero__content {
  max-width: 470px;
}
@media (max-width: 1200px) {
  .hero__content {
    width: 370px;
  }
}
@media (max-width: 992px) {
  .hero__content {
    width: 100%;
  }
}

.hero__heading {
  position: relative;
  z-index: 1;
  margin-top: 18px;
  color: #201830;
  font-size: 7rem;
  font-weight: 700;
  line-height: 1.14;
}
@media (max-width: 1200px) {
  .hero__heading {
    margin-top: 39px;
    font-size: 6rem;
  }
}
@media (max-width: 576px) {
  .hero__heading {
    font-size: 3.6rem;
  }
}

.hero-decor {
  left: 33px;
  bottom: 72px;
}
@media (max-width: 992px) {
  .hero-decor {
    left: 10px;
    bottom: 60px;
  }
}
@media (max-width: 576px) {
  .hero-decor {
    left: 4px;
    bottom: -1px;
    width: 167px;
    height: 16px;
  }
}

.hero-desc {
  margin-top: 20px;
  color: #665f73;
  font-size: 1.8rem;
  line-height: 1.66;
}
@media (max-width: 576px) {
  .hero-desc {
    margin-top: 12px;
    font-size: 1.4rem;
    line-height: 1.71;
  }
}

.btn-group {
  display: flex;
  align-items: center;
  gap: 28px;
  margin-top: 40px;
}
@media (max-width: 576px) {
  .btn-group {
    margin-top: 28px;
  }
}

.play-podcast {
  display: flex;
  align-items: center;
  color: #201830;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}
.play-podcast .play-podcast__link {
  color: #201830;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}
.play-podcast .btn-play {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
  width: 18px;
  height: 18px;
  border-radius: 18px;
  background: #201830;
  color: #fff;
  cursor: pointer;
}

.directory {
  margin-top: 100px;
  padding: 30px 0;
  width: 100%;
}
@media (max-width: 992px) {
  .directory {
    margin-top: 70px;
    padding: 30px 18px;
  }
}
.directory .directory__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .directory .directory__inner {
    align-items: unset;
    flex-direction: column-reverse;
  }
}

.directory__content {
  max-width: 470px;
}
@media (max-width: 992px) {
  .directory__content {
    margin-right: 0;
  }
}
@media (min-width: 992px) {
  .directory__content {
    margin-right: 50px;
  }
}
@media (min-width: 1200px) {
  .directory__content {
    margin-right: 130px;
  }
}
@media (max-width: 992px) {
  .directory__content .section-heading {
    margin-top: 38px;
  }
}
.directory__content .heading-decor {
  bottom: -10px;
  right: 61px;
  width: 241px;
  height: 38px;
}
@media (max-width: 992px) {
  .directory__content .heading-decor {
    right: 8px;
    bottom: 2px;
    height: 20px;
    width: 129px;
  }
}
@media (max-width: 576px) {
  .directory__content .heading-decor {
    left: 4px;
  }
}
.directory__content .btn {
  margin-top: 38px;
}
@media (max-width: 992px) {
  .directory__content .btn {
    margin-top: 28px;
  }
}
.directory__content .play-podcast__link {
  color: #fff;
}
.directory__content .btn-play {
  background: #fff;
  color: #936cdd;
}

.directory__media {
  position: relative;
  height: 399px;
}
@media (min-width: 992px) {
  .directory__media {
    flex: 1 0 auto;
    width: 50%;
  }
}
@media (max-width: 992px) {
  .directory__media {
    height: 238px;
  }
}

.directory__img {
  position: absolute;
}

.directory__img:nth-of-type(1) {
  bottom: 0;
  left: 29.7%;
  width: 126px;
  height: 126px;
}
@media (max-width: 992px) {
  .directory__img:nth-of-type(1) {
    width: 75px;
    height: 75px;
  }
}

.directory__img:nth-of-type(2) {
  bottom: 10%;
  right: 8%;
  width: 138px;
  height: 138px;
}
@media (max-width: 992px) {
  .directory__img:nth-of-type(2) {
    width: 89px;
    height: 89px;
  }
}

.directory__img:nth-of-type(3) {
  top: 0;
  left: 32.44%;
  width: 148px;
  height: 148px;
}
@media (max-width: 992px) {
  .directory__img:nth-of-type(3) {
    width: 82px;
    height: 82px;
  }
}

.directory__img:nth-of-type(4) {
  left: 0;
  top: 41.1%;
}
@media (max-width: 992px) {
  .directory__img:nth-of-type(4) {
    width: 48px;
    height: 48px;
  }
}

.directory__img:nth-of-type(5) {
  right: 0;
  top: 14.8%;
}
@media (max-width: 992px) {
  .directory__img:nth-of-type(5) {
    width: 58px;
    height: 58px;
  }
}

.directory__blur {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 287px;
  height: 287px;
  border-radius: 50%;
  background: rgba(255, 144, 81, 0.4);
  filter: blur(129px);
  z-index: -1;
}

.category {
  margin-top: 100px;
  padding: 30px 0;
}
@media (max-width: 992px) {
  .category {
    margin-top: 40px;
    padding: 30px 18px;
  }
}
.category .btn {
  display: block;
  margin: 55px auto 0;
  background: #201830;
}
@media (max-width: 992px) {
  .category .btn {
    margin-top: 38px;
  }
}

.category-top {
  max-width: 470px;
  margin: 0 auto;
  text-align: center;
}
.category-top .heading-decor {
  left: 50%;
  bottom: -8px;
}
@media (max-width: 992px) {
  .category-top .heading-decor {
    bottom: -5px;
    height: 20px;
    width: 110px;
  }
}
@media (max-width: 576px) {
  .category-top .heading-decor {
    bottom: -3px;
  }
}

.category-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 70px;
}
@media (max-width: 992px) {
  .category-group {
    flex-direction: column;
    margin-top: 38px;
    gap: 16px;
  }
}

.category-column {
  position: relative;
  display: flex;
  align-items: center;
  gap: 30px;
  flex-direction: column;
}
@media (max-width: 992px) {
  .category-column {
    gap: 16px;
  }
}
.category-column:first-of-type .category-img {
  width: 370px;
  height: 600px;
  object-fit: cover;
}
@media (max-width: 1200px) {
  .category-column:first-of-type .category-img {
    width: 339px;
  }
}
@media (max-width: 992px) {
  .category-column:first-of-type .category-img {
    height: 550px;
  }
}

.category-row {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media (max-width: 992px) {
  .category-row {
    flex-direction: column;
    gap: 16px;
  }
}
.category-row:first-of-type .category-item:first-of-type .category-img, .category-row:last-of-type .category-item:last-of-type .category-img {
  width: 470px;
  height: 285px;
  object-fit: cover;
}
@media (max-width: 1200px) {
  .category-row:first-of-type .category-item:first-of-type .category-img, .category-row:last-of-type .category-item:last-of-type .category-img {
    width: 339px;
    height: 285px;
  }
}
@media (max-width: 992px) {
  .category-row:first-of-type .category-item:first-of-type .category-img, .category-row:last-of-type .category-item:last-of-type .category-img {
    height: 205px;
  }
}
.category-row:first-of-type .category-item:last-of-type .category-img, .category-row:last-of-type .category-item:first-of-type .category-img {
  width: 270px;
  height: 285px;
  object-fit: cover;
}
@media (max-width: 1200px) {
  .category-row:first-of-type .category-item:last-of-type .category-img, .category-row:last-of-type .category-item:first-of-type .category-img {
    width: 270px;
    height: 285px;
  }
}
@media (max-width: 992px) {
  .category-row:last-of-type {
    gap: 16px;
  }
}
.category-row .category-item {
  position: relative;
}

.glass-overlay {
  position: absolute;
  inset: auto 0 0;
  width: 100%;
  height: 86px;
  padding: 16px 24px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}
.glass-overlay .music-genre {
  display: flex;
  align-items: center;
  gap: 8px;
}
@media (max-width: 992px) {
  .glass-overlay .music-genre {
    gap: 6px;
  }
}
.glass-overlay .music-genre .more {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #fff;
  background: transparent;
}
.glass-overlay .glass__subtitle {
  color: #fff;
  font-size: 1.4rem;
  line-height: 1.71;
}

.popular {
  margin-top: 130px;
  padding: 100px 0;
  background: #fff8f3;
}
@media (max-width: 992px) {
  .popular {
    margin-top: 70px;
    padding: 70px 18px;
  }
}
.popular .btn-mobile {
  display: none;
  margin-top: 38px;
  background: #201830;
}
@media (max-width: 992px) {
  .popular .btn-mobile {
    display: block;
  }
}

.popular-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popular-top .section-heading {
  max-width: 390px;
}
@media (max-width: 992px) {
  .popular-top .section-heading {
    max-width: 339px;
  }
}
.popular-top .heading-decor {
  top: 40px;
  right: 42px;
}
@media (max-width: 992px) {
  .popular-top .heading-decor {
    width: 106px;
    height: 20px;
    top: 56px;
    left: 6px;
  }
}
.popular-top .btn {
  background: #201830;
}
@media (max-width: 992px) {
  .popular-top .btn {
    display: none;
  }
}

.popular-list {
  display: flex;
  align-items: center;
  margin-top: 84px;
}
@media (max-width: 992px) {
  .popular-list {
    margin-top: 38px;
  }
}

.popular-item-wrap {
  display: none;
}

.popular-active {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
@media (max-width: 992px) {
  .popular-active {
    grid-template-columns: 1fr;
    grid-auto-flow: column;
  }
}

.popular-item {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media (max-width: 992px) {
  .popular-item {
    display: none;
  }
}
.popular-item:nth-of-type(3), .popular-item:last-of-type {
  flex-direction: row-reverse;
}
.popular-item .thumb {
  width: 270px;
  height: 286px;
  object-fit: cover;
  border-radius: 8px;
}
@media (max-width: 992px) {
  .popular-item .thumb {
    width: 160px;
    height: 170px;
    border-radius: 4px;
  }
}
.popular-item .item-label {
  color: #fd6f1f;
  font-size: 1.4rem;
  line-height: 1.71;
}
@media (max-width: 992px) {
  .popular-item .item-label {
    font-size: 1rem;
    line-height: 1;
  }
}
.popular-item .section-title {
  display: block;
  margin-top: 6px;
  color: #201830;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
}
@media (max-width: 992px) {
  .popular-item .section-title {
    font-size: 1.2rem;
  }
}
.popular-item .play-podcast {
  margin-top: 11px;
}
.popular-item .play-podcast .play-podcast__link {
  font-size: 1.4rem;
  line-height: 1.71;
}
@media (max-width: 992px) {
  .popular-item .play-podcast .play-podcast__link {
    font-size: 1rem;
    line-height: 1;
  }
}
.popular-item .play-podcast .btn-play {
  margin-left: 6px;
  width: 14px;
  height: 14px;
}
@media (max-width: 992px) {
  .popular-item .play-podcast .btn-play {
    width: 10px;
    height: 10px;
  }
}
@media (max-width: 992px) {
  .popular-item .play-podcast .btn-play svg {
    width: 4px;
    height: 4px;
  }
}
.popular-item .play-podcast:hover .play-podcast__link {
  color: #936cdd;
}
.popular-item .play-podcast:hover .btn-play {
  background: #936cdd;
}

@media (max-width: 992px) {
  .popular-item-active {
    display: flex;
  }
}

.dots-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 55px;
}
@media (max-width: 992px) {
  .dots-list {
    margin-top: 18px;
  }
}
.dots-list .dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #d8d5de;
}
.dots-list .dot-active {
  width: 12px;
  height: 12px;
  background: #936cdd;
}

.listener {
  position: relative;
  padding: 160px 0 30px;
  overflow: hidden;
}
@media (max-width: 992px) {
  .listener {
    margin-top: 70px;
    padding: 30px 18px;
  }
}

.listener__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .listener__inner {
    flex-direction: column-reverse;
  }
}

.listener-media-wrap {
  position: relative;
  margin-top: 8px;
}
@media (max-width: 992px) {
  .listener-media-wrap {
    margin-top: 28px;
  }
}
.listener-media-wrap .dots-list {
  position: absolute;
  bottom: 0;
  left: 74px;
}
@media (max-width: 992px) {
  .listener-media-wrap .dots-list {
    left: 47px;
  }
}

.listener-media {
  display: flex;
  align-items: center;
}
.listener-media .listener-img {
  object-fit: cover;
  border-radius: 8px;
}
.listener-media .listener-img:first-of-type {
  width: 270px;
  height: 284px;
  z-index: 1;
}
@media (max-width: 992px) {
  .listener-media .listener-img:first-of-type {
    width: 160px;
    height: 168px;
  }
}
.listener-media .listener-img:last-of-type {
  width: 370px;
  height: 444px;
  margin-left: -70px;
}
@media (max-width: 992px) {
  .listener-media .listener-img:last-of-type {
    width: 218px;
    height: 262px;
    margin-left: -39px;
  }
}

.listener-content {
  max-width: 470px;
}
.listener-content .section-heading {
  margin-top: 18px;
}
.listener-content .heading-decor {
  top: 35px;
  right: 21.2%;
}
@media (max-width: 992px) {
  .listener-content .heading-decor {
    width: 93px;
    height: 16px;
    top: 21px;
    left: 31%;
  }
}
.listener-content .author {
  display: block;
  margin-top: 18px;
  color: #aba6b5;
  font-size: 1.4rem;
  line-height: 1.71;
}
@media (max-width: 992px) {
  .listener-content .author {
    margin-top: 12px;
  }
}

.blur {
  position: absolute;
  width: 287px;
  height: 287px;
  border-radius: 50%;
  opacity: 0.4;
  background: #ff9051;
  filter: blur(129px);
  top: 160px;
  right: 0;
  transform: translateX(50%);
}
@media (max-width: 992px) {
  .blur {
    width: 127px;
    height: 127px;
    top: 61px;
    transform: translateX(0);
  }
}

.update {
  margin-top: 100px;
  padding-top: 30px;
}
@media (max-width: 992px) {
  .update {
    margin-top: 70px;
    padding-top: 0;
  }
}

.update__inner {
  position: relative;
  padding: 100px;
  border-radius: 12px;
  background: #201830;
}
@media (max-width: 992px) {
  .update__inner {
    padding: 50px 18px;
  }
}

.update-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .update-content {
    flex-direction: column;
    align-items: unset;
  }
}
.update-content .section-heading,
.update-content .section-desc {
  max-width: 470px;
}
@media (max-width: 992px) {
  .update-content .section-heading,
  .update-content .section-desc {
    max-width: 339px;
  }
}
.update-content .section-heading {
  color: #fff;
}
.update-content .heading-decor {
  left: -3px;
  bottom: -8px;
}
@media (max-width: 992px) {
  .update-content .heading-decor {
    width: 82px;
    height: 16px;
    inset: 20px 75px auto auto;
  }
}
.update-content .section-desc {
  color: #aba6b5;
  margin-top: 0;
}
@media (max-width: 992px) {
  .update-content .section-desc {
    margin-top: 12px;
  }
}

.update-form {
  margin-top: 70px;
}
@media (max-width: 992px) {
  .update-form {
    margin-top: 38px;
  }
}
.update-form .info-update {
  margin-right: 30px;
  padding: 18px 28px;
  width: 370px;
  height: 64px;
  border-radius: 8px;
  color: #aba6b5;
  background: #2b213f;
}
@media (max-width: 992px) {
  .update-form .info-update {
    margin: 0 0 12px;
    width: 100%;
  }
}
@media (max-width: 992px) {
  .update-form .btn {
    margin-top: 8px;
  }
}

.star-decor {
  position: absolute;
}
.star-decor:first-of-type {
  color: #5bc18f;
  top: 26px;
  left: 45%;
  animation: flash 2s linear infinite;
}
@media (max-width: 992px) {
  .star-decor:first-of-type {
    inset: auto 9% 11px auto;
  }
}
.star-decor:nth-of-type(2) {
  color: #ff9051;
  right: 27px;
  top: 41%;
  animation: flash 2s linear 0.5s infinite;
}
@media (max-width: 992px) {
  .star-decor:nth-of-type(2) {
    inset: auto 32% 34px auto;
  }
}
.star-decor:nth-of-type(3) {
  color: #936cdd;
  left: 35px;
  bottom: 45px;
  animation: flash 2s linear 1s infinite;
}
@media (max-width: 992px) {
  .star-decor:nth-of-type(3) {
    inset: auto 12.3% 67px auto;
  }
}

.footer {
  background: #fff8f3;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  padding: 100px 0 38px;
}
@media (max-width: 992px) {
  .footer__inner {
    padding: 54px 18px 50px;
    flex-direction: column;
    gap: 38px;
  }
}
.footer__inner .section-desc {
  margin-top: 14px;
}

.footer-column:first-of-type,
.footer-column:last-of-type {
  max-width: 270px;
}

.social-group {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-top: 18px;
}
.social-group .social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #201830;
}
.social-group .social-item:nth-of-type(even) {
  background: #936cdd;
}

.footer-title {
  color: #201830;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
}

.footer-subtitle {
  margin-top: 24px;
}
.footer-subtitle .footer-link {
  display: block;
  margin-top: 16px;
  color: #665f73;
  font-size: 1.6rem;
  line-height: 1.75;
}

.app-group {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 24px;
}
.app-group .app-item {
  width: 36px;
  height: 36px;
  object-fit: cover;
}

/*# sourceMappingURL=main.css.map */
